<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header class="mb-4">
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image>
  </mat-card>
  <mat-card class="col-12 sm:col-6">
    <mat-card-header class="mb-2">
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item><mat-card-subtitle>Primera aparición</mat-card-subtitle> {{ hero.first_appearance }}</mat-list-item>
        <mat-list-item><mat-card-subtitle>Personajes</mat-card-subtitle>{{ hero.characters }}</mat-list-item>
        <mat-list-item><mat-card-subtitle>Editorial</mat-card-subtitle>{{ hero.publisher }}</mat-list-item>
        <mat-list-item><mat-card-subtitle>Alter ego</mat-card-subtitle>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-fab extended
        (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

